<!DOCTYPE html>
<html>
<head>
    <title><%= action %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/auth/login">Passport</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">

    <div class="page-header">
        <h1>Welcome, please <%= action.toLowerCase() %>.</h1>
    </div>

    <div>
        <div class="alert alert-danger fade in" id="alertError" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="errorMessage"></p>
        </div>
        <div class="alert alert-success fade in" id="alertInfo" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="infoMessage"></p>
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <% if (isRegister) { %>
                <div class="form-group">
                    <label for="repeatPassword">repeatPassword</label>
                    <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat your password">
                </div>
            <% } %>
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
        </form>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function cutdown() {
        let i = 3;
        $('#infoMessage').text(`<%= action %> success! Redirecting in ${i} seconds...`);
        setInterval(() => {
            i = i - 1;
            if (i === 0) {
                <% if (action === "Login") { %>
                $(window).attr('location','/');
                <% } else { %>
                $(window).attr('location','/auth/login');
                <% } %>
            }
            $('#infoMessage').text(`<%= action %> success! Redirecting in ${i} seconds...`);
        }, 1000);
    }

    (() => {
        $('#submit').click(() => {
            <% if (action === "Login") { %>
            let data = {
                username: $('#username').val(),
                password: $('#password').val()
            };
            <% } else { %>
            let data = {
                username: $('#username').val(),
                password: $('#password').val(),
                repeatPassword: $('#repeatPassword').val()
            };
            <% } %>
            let alertError = $('#alertError');
            let alertInfo = $('#alertInfo');
            alertError.fadeOut();
            alertInfo.fadeOut();
            $.ajax({
                url: '/auth/<%= action.toLowerCase() %>',
                type: 'post',
                data: data,
                dataType: 'json',
                success: (res) => {
                    console.log(res);
                    cutdown();
                    alertInfo.fadeIn();
                },
                error: (XMLHttpRequest) => {
                    console.log(XMLHttpRequest);

                    if (XMLHttpRequest.status === 401) {
                        $('#errorMessage').text('Username or Password Error!');
                        alertError.fadeIn();
                        return;
                    }

                    if (XMLHttpRequest.responseJSON.message) {
                        $('#errorMessage').text(XMLHttpRequest.responseJSON.message);
                    } else {
                        $('#errorMessage').text(XMLHttpRequest.responseJSON.error);
                    }

                    alertError.fadeIn();
                }
            });
        });
    })();

</script>
</body>
</html>